<div>
  <link href="./stopa.css" rel="stylesheet" />
  <footer class="stopa-footer">
    <span class="stopa-branding"><span>Zapraszam do kontaktu!</span></span>
    <div class="stopa-content">
      <div class="stopa-contact">
        <span class="stopa-name">
          <span class="stopa-text">Jakub Ludwiczak</span>
          <br />
        </span>
        <span class="stopa-email"><span>kuba.ludwiczak@icloud.com</span></span>
        <span class="stopa-number"><span>+48 736 745 427</span></span>
      </div>
      <div class="stopa-links-column">
        <span class="stopa-link"><span>About</span></span>
        <span class="stopa-link1"><span>Team</span></span>
        <span class="stopa-link2"><span>News</span></span>
        <span class="stopa-link3"><span>Partners</span></span>
        <span class="stopa-link4"><span>Careers</span></span>
        <span class="stopa-link5"><span>Press & Media</span></span>
      </div>
    </div>
  </footer>
</div>
